body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

h1 {
  margin-top: 20px;
  font-size: 24px;
  color: #333;
}

#monitorContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.monitor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.monitor-container h2 {
  margin: 10px 0;
}

.monitor {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: black;
  position: relative;
}

.monitor h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

.monitor img {
  display: block;
  max-width: 100%;
  max-height: 50vh;
  object-fit: contain;
}

.monitor button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.monitor button:hover {
  background-color: #0056b3;
}


